/* ----------------------------- */
/* Layout                        */
/* ----------------------------- */

.grid-container {
  display: grid;
  text-align: center;
  place-items: center;
  padding-inline: 1rem;
  padding-bottom: 3rem;
  & p:not([class]) {
    max-width: 50ch;
  }
}

.numbered-title {
  grid-area: title;
}

/* destination layout */

.grid-container--destination {
  --gap: 2rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";

  & > picture {
    grid-area: image;
    max-width: 60%;
  }

  & > .tab-list {
    grid-area: tabs;
  }

  & > .destination-info {
    grid-area: content;
  }
}

.destination-meta {
  flex-direction: column;
  border-top: 1px solid hsl(var(--clr-white) / 0.1);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}

/* crew layout */

.grid-container--crew {
  --gap: 2rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";

  & > picture {
    grid-area: image;
    max-width: 60%;
    border-bottom: 1px solid hsl(var(--clr-white) / 0.1);
  }

  & > .dot-indicators {
    grid-area: tabs;
  }

  & > .crew-details {
    grid-area: content;
    & h2 {
      opacity: 0.5;
    }
  }
}

@media (min-width: 35em) {
  .numbered-title {
    justify-self: start;
    margin-top: 2rem;
  }

  .destination-meta {
    flex-direction: row;
    justify-content: space-evenly;

    & p {
      font-size: 1.75rem;
    }
  }

  .grid-container--crew {
    padding-bottom: 0;
    grid-template-areas:
      "title"
      "content"
      "tabs"
      "image";
  }
}

@media (min-width: 45rem) {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
        2rem,
        1fr
      );
  }

  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
    & > *:first-child {
      grid-column: 2;
    }
    & > *:last-child {
      grid-column: 3;
    }
  }

  .grid-container--destination {
    justify-items: start;
    align-content: start;
    grid-template-areas:
      ". title title ."
      ". image tabs ."
      ". image content .";

    & > picture {
      max-width: 90%;
    }
  }

  .destination-meta {
    --gap: min(6vw, 6rem);
    justify-content: start;
  }

  .grid-container--crew {
    grid-template-areas:
      ". title title ."
      ". content image ."
      ". tabs image .";
    & > picture {
      max-width: 90%;
    }

    & > .dot-indicators {
      justify-self: start;
    }

    & > picture {
      align-self: end;
    }
  }
}
